
@import 'cssreset.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600i,700&display=swap');


.notification {
    background: #0D2C44;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: .77rem;
    font-weight: 400;
    letter-spacing: 1.1px;
}

.notification .text {
    color:white;
    display: inline-block;
}

.notification a {
    display: inline-block;
    color:white;
    text-decoration: none;
    padding-bottom: 1px; 
    border-bottom: 1px solid white;
}

header {
    display: flex;
    padding: 20px;
    background: purple;
    text-transform: uppercase;
}


header .logo{
    background: white;
    width: 25%;
 
}

header .logo img {
    width: 100px;
    position: relative;
    top: 1px;
}
header .header-list {
    background: white;
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-size: .70rem;
    font-weight: 600;
    align-items: center;
    letter-spacing: 1.2px;

}

header .header-list a{
    /* background: blue; */
    text-decoration: none;
    color: black;
    position: relative;

    /* padding-top: 3px;
    padding-bottom: 7px;  */
    /* https://css-tricks.com/forums/topic/menu-items-moving-when-one-goes-bold-on-hover/ */
}

header .header-list a .line {
    position: absolute;
    top: 1.1rem;
    background: black;
    height: 2px;
    width: 100%;
    opacity: 0;
    transition: all .2s ease-in-out;


    /* width: auto; */
    /* https://stackoverflow.com/questions/2232440/how-to-make-css-width-to-fill-parent */

}
header .header-list a:hover .line{
    /* https://stackoverflow.com/questions/5752670/show-a-div-when-a-mouseover-on-a-link */
    opacity: 1;


}
header .header-right {
    width: 20%;
    background: green;
    display: flex;
}